@page "/pets"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PawPal.Domain
@using PawPal.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PawPal.Data.PawPalContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="pets/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Pet">
    <PropertyColumn Property="pet => pet.ShelterId" />
    <PropertyColumn Property="pet => pet.Name" />
    <PropertyColumn Property="pet => pet.Species" />
    <PropertyColumn Property="pet => pet.Breed" />
    <PropertyColumn Property="pet => pet.Age" />
    <PropertyColumn Property="pet => pet.Size" />
    <PropertyColumn Property="pet => pet.Gender" />
    <PropertyColumn Property="pet => pet.Temperament" />
    <PropertyColumn Property="pet => pet.MedicalInfo" />
    <PropertyColumn Property="pet => pet.Description" />
    <PropertyColumn Property="pet => pet.Status" />
    <PropertyColumn Property="pet => pet.DateCreated" />
    <PropertyColumn Property="pet => pet.DateUpdated" />
    <PropertyColumn Property="pet => pet.CreatedBy" />
    <PropertyColumn Property="pet => pet.UpdatedBy" />

    <TemplateColumn Context="pet">
        <a href="@($"pets/edit?id={pet.Id}")">Edit</a> |
        <a href="@($"pets/details?id={pet.Id}")">Details</a> |
        <a href="@($"pets/delete?id={pet.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PawPalContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
