.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e0e5ec; /* Global Neumorph Base */
}

main {
    flex: 1;
    padding-top: 2rem;
}

.top-nav-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
