/* Table Styles */
.manage-container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    padding: 1.5rem;
}

.table-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.action-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
