@page "/petimages/create"
@using Microsoft.EntityFrameworkCore
@using PawPal.Domain
@inject IDbContextFactory<PawPal.Data.PawPalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>PetImage</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="PetImage" OnValidSubmit="AddPetImage" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="petid" class="form-label">PetId:</label> 
                <InputNumber id="petid" @bind-Value="PetImage.PetId" class="form-control" /> 
                <ValidationMessage For="() => PetImage.PetId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="imageurl" class="form-label">ImageUrl:</label> 
                <InputText id="imageurl" @bind-Value="PetImage.ImageUrl" class="form-control" /> 
                <ValidationMessage For="() => PetImage.ImageUrl" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isprimary" class="form-label">IsPrimary:</label> 
                <InputCheckbox id="isprimary" @bind-Value="PetImage.IsPrimary" class="form-check-input" /> 
                <ValidationMessage For="() => PetImage.IsPrimary" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="PetImage.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => PetImage.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="PetImage.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => PetImage.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="PetImage.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => PetImage.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="PetImage.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => PetImage.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/petimages">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private PetImage PetImage { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPetImage()
    {
        using var context = DbFactory.CreateDbContext();
        context.PetImage.Add(PetImage);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/petimages");
    }
}
