@page "/shelters/create"
@using Microsoft.EntityFrameworkCore
@using PawPal.Domain
@inject IDbContextFactory<PawPal.Data.PawPalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Shelter</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Shelter" OnValidSubmit="AddShelter" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="sheltername" class="form-label">ShelterName:</label> 
                <InputText id="sheltername" @bind-Value="Shelter.ShelterName" class="form-control" /> 
                <ValidationMessage For="() => Shelter.ShelterName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label> 
                <InputText id="address" @bind-Value="Shelter.Address" class="form-control" /> 
                <ValidationMessage For="() => Shelter.Address" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phonenumber" class="form-label">PhoneNumber:</label> 
                <InputText id="phonenumber" @bind-Value="Shelter.PhoneNumber" class="form-control" /> 
                <ValidationMessage For="() => Shelter.PhoneNumber" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Shelter.Email" class="form-control" /> 
                <ValidationMessage For="() => Shelter.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Shelter.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Shelter.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Shelter.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Shelter.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Shelter.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Shelter.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Shelter.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Shelter.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/shelters">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Shelter Shelter { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddShelter()
    {
        using var context = DbFactory.CreateDbContext();
        context.Shelter.Add(Shelter);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/shelters");
    }
}
