@page "/shelters"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PawPal.Domain
@using PawPal.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PawPal.Data.PawPalContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="shelters/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Shelter">
    <PropertyColumn Property="shelter => shelter.ShelterName" />
    <PropertyColumn Property="shelter => shelter.Address" />
    <PropertyColumn Property="shelter => shelter.PhoneNumber" />
    <PropertyColumn Property="shelter => shelter.Email" />
    <PropertyColumn Property="shelter => shelter.DateCreated" />
    <PropertyColumn Property="shelter => shelter.DateUpdated" />
    <PropertyColumn Property="shelter => shelter.CreatedBy" />
    <PropertyColumn Property="shelter => shelter.UpdatedBy" />

    <TemplateColumn Context="shelter">
        <a href="@($"shelters/edit?id={shelter.Id}")">Edit</a> |
        <a href="@($"shelters/details?id={shelter.Id}")">Details</a> |
        <a href="@($"shelters/delete?id={shelter.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private PawPalContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
