@page "/adoptionapplications/create"
@using Microsoft.EntityFrameworkCore
@using PawPal.Domain
@inject IDbContextFactory<PawPal.Data.PawPalContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>AdoptionApplication</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="AdoptionApplication" OnValidSubmit="AddAdoptionApplication" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="adopterid" class="form-label">AdopterId:</label> 
                <InputNumber id="adopterid" @bind-Value="AdoptionApplication.AdopterId" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.AdopterId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="petid" class="form-label">PetId:</label> 
                <InputNumber id="petid" @bind-Value="AdoptionApplication.PetId" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.PetId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="applicationdate" class="form-label">ApplicationDate:</label> 
                <InputDate id="applicationdate" @bind-Value="AdoptionApplication.ApplicationDate" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.ApplicationDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="AdoptionApplication.Status" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="remarks" class="form-label">Remarks:</label> 
                <InputText id="remarks" @bind-Value="AdoptionApplication.Remarks" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.Remarks" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="reviewedbyadminid" class="form-label">ReviewedByAdminId:</label> 
                <InputNumber id="reviewedbyadminid" @bind-Value="AdoptionApplication.ReviewedByAdminId" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.ReviewedByAdminId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="revieweddatetime" class="form-label">ReviewedDateTime:</label> 
                <InputDate id="revieweddatetime" @bind-Value="AdoptionApplication.ReviewedDateTime" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.ReviewedDateTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="AdoptionApplication.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="AdoptionApplication.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="AdoptionApplication.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="AdoptionApplication.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => AdoptionApplication.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/adoptionapplications">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private AdoptionApplication AdoptionApplication { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdoptionApplication()
    {
        using var context = DbFactory.CreateDbContext();
        context.AdoptionApplication.Add(AdoptionApplication);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/adoptionapplications");
    }
}
